.hero {
  width: 600px;
  height: 500px;
}

.eye {
  position: absolute;
  width: 35px;
  height: 35px;
}

.RL {
  left: -367px;
  top: -50px;
  position: relative;
  border-radius: 50%;

}

.RR {
  left: -265px;
  top: -55px;
  position: relative;
  border-radius: 50%;

}

.MR {
  left: -343px;
  top: 57px;
  position: relative;
  border-radius: 50%;

}

.ML {
  left: -445px;
  top: 69px;
  position: relative;
  border-radius: 50%;
}
