.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #160335;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Img {
  position: relative;
  height: 250px;
  width: 30px;
  box-shadow: 5px 5px black;
  overflow: hidden;
  border: 1px solid #211815;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.active {
  border: 1px solid #211815;
  border-radius: 15px;
  overflow: hidden;
  height: 250px;
  width: 350px;
  box-shadow: 5px 5px black;
}

img {
  height: 250px;
  width: 350px;
}
