@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
/* define variable colors-primary */
.greentheme {
  --color-primary: #18db18;
  --color-shadow: #112e1d;
}
.pinktheme {
  --color-primary: #d24bdf;
  --color-shadow: #29112e;
}
.bluetheme {
  --color-primary: #4b61df;
  --color-shadow: #13112e;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #ebf0f5;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
.Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ebf0f5;
}

.Img {
  position: relative;
  height: 250px;
  width: 30px;
  box-shadow: 5px 5px rgb(17, 16, 16);
  overflow: hidden;
  border: 1px solid #211815;
  border-radius: 15px;
  transition: all 1s ease-in-out;
}

.active {
  border: 1px solid #211815;
  border-radius: 15px;
  overflow: hidden;
  height: 250px;
  width: 350px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.616);
}

img {
  height: 250px;
  width: 350px;
}

canvas {
  height: 100vh;
  background-color: #191b1b;
}

.SlotScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(65vw + 40px);
  height: calc(60vh + 40px);
  background-color: #162014;
  border: 20px solid var(--color-shadow);
  color: var(--color-primary);
}
.Gradient {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(65vw + 40px);
  height: calc(60vh + 40px);
  /* background: rgb(38, 143, 26); */
  background: radial-gradient(
    circle,
    rgba(32, 133, 21, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.9;
}
.headings {
  position: relative;
  top: 25px;
}
.headings > h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  /* color: #18db18; */
  text-shadow: 5px 5px 10px black;
  margin: 0;
  padding: 0;
}

.num {
  position: relative;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  font-size: 140px;
  translate: 0rem 75px;
}
.animate {
  position: relative;
  top: 35px;
  width: 120px;
  height: 130px;
  border-bottom: 5px solid var(--color-primary);
  overflow: hidden;
}

.decor {
  width: 30px;
}
span {
  font-family: "Orbitron", sans-serif;
  font-size: 130px;
  letter-spacing: 0.00000000001em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #18db18; */
}
.money {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}
.contents {
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.strokes {
  z-index: 4;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(60vw);
  height: calc(20vh);
  background: linear-gradient(0deg, #162014, rgba(0, 0, 0, 0));
  background-size: 100% 7px;
  opacity: 0.5;
}
.num {
  position: absolute;
  transform: translateY(-50%);
}
.please {
  position: absolute;
  animation: animation 3s cubic-bezier(0.1, 0.25, 0.01, 1);
}

.glass {
  color: #fff;
 
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.buttongroup {
  position: absolute;
  bottom: 2%;
  z-index: 8;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  
}
.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:15px;
}
.themer{
  border-radius: 2px;
  width:40px;
  height: 40px;
  /* border:1px solid red; */
}
.redo{
  border-radius: 2px;
  width: 150px;
  height: 30px;
  text-transform: lowercase !important;
}
@keyframes animation {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
